* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbotron{
    background-color: rgba(45, 45, 45, 0.5);
}
#timer{
    color:white;
    text-align: center;
}
h1{
    color: white;
    text-align: center;
}
body{
    font-family: 'Permanent Marker', cursive;
    background-image: url("../images/background.jpg");
    font-size: 40px;
    color: white;
}
.container{
display: flex;
  justify-content: center;
  flex-direction: row;
}
a{
    color:white; 
}
h5{
    color:white;
}
/* #spotify{
    margin-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      float: left;
      padding: 0 10px;
    }
.song{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */
.card-header{
    background-color:black;
}
.card{
    background-color: rgba(45, 45, 45, 0.5);
    text-align: center;
    float: center;
    display: flex;
    margin-top: 20px;
}
/* #vote-button{
    flex-direction: column;
    align-items: center;
    text-align: center;
} */
/* @media (max-width: 800px){
#spotify {
        flex-direction: column;
      }
      .song {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
      }
} */
footer {
    top: 0;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* position:fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align:center;
    color:#ffffff;
    padding:0px 0px -38px 0px;
    box-sizing:border-box;
    margin-top: 30px;
    background-color: black;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    }

 
