* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbotron{
    background-color: rgba(45, 45, 45, 0.5);
}

h1{
    /* color: white; */
    text-align: center;
    background: -webkit-linear-gradient(#1DB954, #c4302b);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px white;
}
html{
    min-height: 100%;
    box-sizing: border-box;
}
html,body{
    margin:0;
    padding:0;
  }
body{
    font-family: 'Permanent Marker', cursive;
    background-image: url("../Project1/images/background.jpg");
    font-size: 20px;
    color: white;
    height: 100%;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
a{
    color:white; 
    text-decoration: none;
}
a:hover { 
    text-decoration: none; 
    color: white;
}
h1{
    font-size: 100px;
}
.row{
    margin-bottom: 100px;
}
h1 .battle-text{
    margin-bottom: 100px;
}
h2{
    font-size: 80px;
    /* background-image: linear-gradient(to right,#1DB954, #c4302b); */
    background: -webkit-linear-gradient(#1DB954, #c4302b);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px;
}
button a{
    font-size: 50px;
    text-decoration: none;
    /* background: black; */
}
button:hover{
    color:black;
    background: white;
}
#battle-button{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

footer {
    top: 0;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    text-align:center;
    color:#ffffff;
    padding:0px 0px -38px 0px;
    box-sizing:border-box;
    margin-top: 100px;
    font-size: 15px;
    text-align: center;
    
    }

   
